
Hw/library/\.DS_Store

Hw/library/agroin\.pretty/\.DS_Store

Hw/\.DS_Store

Hw/library/agroin\.bak

Hw/library/agroin\.bck

\.DS_Store

*.kicad_pcb-bak

*.sch-bak
Hw/LoRA_USBStick-backups/LoRA_USBStick-2022-06-24_103809.zip
*.zip
